* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:focus{
  outline: 0;
  box-shadow: 0 0 0 2px #00A6ED
}

body{
  background: #121214;
  color:    #A9A9B2; 
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family:  sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.container{
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem
}

.main{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn-reload{
  display: flex;
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  line-height: 160%;
  border:  1px solid rgb(94, 167, 198);
  border-radius: 12px;
  color: #00A6ED;
}

.btn-reload:hover{
  background-color: #40baee;
  color: #012534;
  transition: 0.2s;
}
.ph-arrows-clockwise {
  -size: 1.5rem;
}
